@using EntityLayer.Concrete
@model List<Blog>
@{
    ViewData["Title"] = "BlogListByWriter";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>BlogListByWriter</h1>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Başlık</th>
        <th>Tarih</th>
        <th>Kategori</th>
        <th>Durum</th>
        <th>İŞLEMLER</th>
    </tr>
    @if (Model.Count < 1)
    {


<div class="alert alert-danger">
        <p>Henüz bloğunuz bulunmamaktadır</p>
    </div>
    }
    else
    {
    @foreach (var item in Model)
    {
    <tr>
        <td>@item.BlogID</td>
        <td>@item.Title</td>
        <td>@(((DateTime)item.CreateDate).ToString("dd-MMM-yyy"))</td>
        <td>@item.Category.CategoryName</td>
        <td>@item.BlogStatus</td>
        <td><a href="/Blog/EditBlog/@item.BlogID" class="btn btn-info">GÜNCELLE</a> || <a href="/Blog/DeleteBlog/@item.BlogID" onclick="return confirm('Silmek istediğine emin misin?');" class="btn btn-danger">SİL</a></td>
    </tr>}
    }
</table>

